[Unit]
Description=email external ip address on change

[Service]
RemainAfterExit=yes
ExecStart=/home/jklkbum/projects/checkipsleeper/checkipsleeper.pl

[Install]
WantedBy=multi-user.target
