[Unit]
Description=startup service for daily rsnapshot

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "/usr/bin/timedatectl | /usr/bin/grep Local > /root/backuptimestamp"
ExecStart=/usr/bin/rsnapshot daily

[Install]
WantedBy=multi-user.target
