[Unit]
Description=startup service for weekly rsnapshot

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "/usr/bin/timedatectl | /usr/bin/grep Local > /root/backuptimestamp"
ExecStart=/usr/bin/rsnapshot weekly

[Install]
WantedBy=multi-user.target
